.search {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -80%);
  height: 200px;
  width: 800px;
  border: 3px solid #2F4F4F;
  padding: 10px;
  background-color:aliceblue;
  opacity: 0.75;
}